@import '../../styles/variables.scss';

.la-wrapper {
  padding: $container;
  margin-bottom: 7rem;

  h2 {
    text-align: center;
    font-size: 3rem;
  }

  .recipes {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
  }
}

@media (max-width: 1024px) {
  .la-wrapper {
    margin-bottom: 5rem;
    padding: $container-mobile;

    h2 {
      font-size: 2.5rem;
    }

    .recipes {
      grid-template-columns: repeat(3, 1fr);
      gap: 1rem;
    }
  }
}

@media (max-width: 768px) {
  .la-wrapper {
    .recipes {
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
    }
  }
}
