@import '../../styles/variables.scss';

.recipe {
  // width: 100%;
  max-height: 300px;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  transition: 0.5s;

  &:hover {
    transform: scale(1.1);
  }

  .img-wrapper {
    width: 100%;
    height: auto;

    img {
      width: 100%;
      object-fit: cover;
    }
  }

  .icons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.3rem;
    margin: 5px 0;

    .icon {
      width: 20px;
      height: 20px;
      color: $purple;
    }
    .text-icon {
      margin-right: 10px;
    }
  }

  .text {
    margin-top: 10px;
  }
}

@media (max-width: 1024px) {
  .recipe {
    img {
      width: 100%;
    }

    .icons {
      .text-icon {
        margin-right: 10px;
        font-size: 12px;
      }
    }
  }
}

@media (max-width: 750px) {
  .recipe {
    max-height: 30vh;

    img {
      width: 100%;
    }

    .icons {
      .text-icon {
        margin-right: 10px;
        font-size: 12px;
      }
    }

    .text {
      font-size: 14px;
    }
  }
}
