$container: 0 3rem;
$container-mobile: 0 1rem;
$back-gradient: linear-gradient(180deg, rgba(139, 0, 137, 1) 0%, rgba(215, 0, 93, 1) 100%);
$orange: rgb(255, 213, 0);
$gray: rgb(216, 215, 215);
$purple: rgba(139, 0, 137, 1);
$text-shadow: 0 3px 10px black;
