$container: 0 3rem;
$container-mobile: 0 1rem;
$back-gradient: linear-gradient(180deg, rgba(139, 0, 137, 1) 0%, rgba(215, 0, 93, 1) 100%);
$orange: rgb(255, 213, 0);
// $green: #27ae60;
$gray: rgb(216, 215, 215);
$gray2: #444;
$back-gray: rgba(0, 0, 0, 0.5);
$purple: rgba(139, 0, 137, 1);
$blue: #0984e3;
$text-shadow: 0 3px 10px black;
