@import '../../styles/variables.scss';

nav {
  background: $back-gradient;
  color: white;
  padding: $container;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;

  .src-box-mobile {
    display: none;
  }

  .brand {
    text-decoration: none;
    h3 {
      font-size: 3rem;
      color: white;
    }
  }

  .nav-list {
    display: flex;
    gap: 2rem;

    li {
      list-style: none;
      font-size: 18px;
      font-weight: 400;
      cursor: pointer;
      transition: 0.3s;

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  .src-box-login {
    display: flex;
    align-items: center;
    gap: 1rem;

    .src-box {
      width: 300px;
      height: 40px;
      border-radius: 30px;
      background-color: $gray;
      overflow: hidden;
      position: relative;

      input {
        width: 80%;
        height: 100%;
        background: white;
        border: none;
        outline: none;
        padding-left: 20px;
        font-size: 16px;
      }
    }
  }

  .src-icon {
    position: absolute;
    right: 7px;
    top: 5px;
    width: 30px;
    height: 30px;
    color: blue;
    z-index: 3;
    // -webkit-transform: scaleX(-1);
    // transform: scaleX(-1);
    cursor: pointer;
  }

  .ham-icon {
    display: none;
  }

  .nav-list-mobile {
    display: none;
  }
}

@media (max-width: 1024px) {
  nav {
    padding: $container-mobile;
    padding-top: 1rem;
    padding-bottom: 1rem;

    .brand {
      h3 {
        font-size: 2rem;
      }
    }

    .nav-list {
      display: none;
    }

    .src-box-login {
      display: none;
    }

    .src-box-mobile {
      display: inline-flex;
      width: 300px;
      max-width: 100%;
      height: 40px;
      border-radius: 30px;
      background-color: $gray;
      overflow: hidden;
      position: relative;

      input {
        width: 80%;
        height: 100%;
        background: white;
        border: none;
        outline: none;
        padding-left: 20px;
        font-size: 16px;
      }
    }

    .src-icon {
      width: 25px;
      height: 25px;
      right: 10px;
      top: 7px;
    }

    .ham-icon {
      display: inline-flex;
      width: 30px;
      height: 30px;
      cursor: pointer;
    }

    .nav-list-mobile {
      position: absolute;
      padding-top: 5rem;
      display: flex;
      flex-direction: column;
      // justify-content: center;
      align-items: center;
      gap: 2rem;
      width: 40vw;
      height: 100vh;
      top: 0;
      right: -40vw;
      background: $purple;
      z-index: 99;
      transition: 0.5s;
      // transform: translateX(100%);

      .x-icon {
        position: absolute;
        width: 30px;
        height: 30px;
        top: 20px;
        right: 20px;
        cursor: pointer;
      }

      li {
        list-style: none;
        font-size: 18px;
        cursor: pointer;
      }
    }

    .show {
      transform: translateX(-150%);
    }
  }
}

@media (max-width: 600px) {
  nav {
    .brand {
      h3 {
        font-size: 1.5rem;
      }
    }

    .src-box-mobile {
      display: inline-flex;
      // width: 300px;

      // max-width: 100%;
      flex: 1;
      height: 30px;
      border-radius: 30px;
      background-color: $gray;
      overflow: hidden;
      position: relative;

      input {
        width: 75%;
        height: 100%;
        background: white;
        border: none;
        outline: none;
        padding-left: 20px;
        font-size: 16px;
      }
    }

    .src-icon {
      width: 20px;
      height: 20px;
      top: 7px;
      right: 3px;
    }
  }
}
