@import '../../styles/variables.scss';

.caro-wrapper {
  max-width: 60vw;
  margin: 7rem auto;

  .slider-wrapper {
    position: relative !important;
    aspect-ratio: 16/9;
    border-radius: 7px !important;

    // Caption
    .legend {
      position: absolute !important;
      z-index: 3 !important;
      height: 30px;
      width: 300px;
      top: 55% !important;
      left: 50% !important;
      font-size: 3rem !important;
      background: none !important;
      font-weight: bold;
      text-shadow: $text-shadow;
    }
  }
}

@media (max-width: 1024px) {
  .caro-wrapper {
    max-width: 80vw;
    margin: 7rem auto;

    .slider-wrapper {
      // Caption
      .legend {
        top: 50% !important;
        left: 50% !important;
        font-size: 2rem !important;
      }
    }
  }
}

@media (max-width: 750px) {
  .caro-wrapper {
    max-width: 90vw;
    margin: 7rem auto;
    margin-bottom: 5rem;

    .slider-wrapper {
      // Caption
      .legend {
        top: 45% !important;
        left: 50% !important;
        font-size: 1rem !important;
      }
    }
  }
}
