@import '../../styles/variables.scss';

footer {
  background: #222;
  color: white;

  .footer-top {
    padding: $container;
    padding-top: 2rem;
    padding-bottom: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .footer-item {
      margin: 1rem;
      text-align: center;

      h3 {
        font-size: 24px;
        margin-bottom: 1rem;
        font-weight: 500;
      }

      p {
        margin: 10px 0;
        color: $gray;
        cursor: pointer;
        transition: 0.3s;

        &:hover {
          color: white;
        }
      }

      .icons {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        a {
          margin: 0.3rem;
        }

        a .icon {
          width: 5px;
          height: 5px;
        }
      }
    }
  }

  .footer-bottom {
    text-align: center;
    padding-bottom: 3rem;
  }
}

@media (max-width: 600px) {
  footer {
    .footer-top {
      justify-content: center;

      .footer-item {
        h3 {
          font-size: 16px;
        }

        p {
          font-size: 14px;
        }

        .icons {
          flex-direction: row;
        }
      }
    }

    .footer-bottom {
      font-size: 14px;
    }
  }
}
